{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title> {% block title%} DoAfrica{%endblock title%} </title>
  <meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href=" {% static 'doafrica/libs/assets/animate.css/animate.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'doafrica/libs/assets/font-awesome/css/font-awesome.css'%}" type="text/css" />
  <link rel="stylesheet" href="{%static 'doafrica/libs/jquery/waves/dist/waves.css' %} " type="text/css" />
  <link rel="stylesheet" href="{% static 'doafrica/styles/material-design-icons.css' %} " type="text/css" />

  <link rel="stylesheet" href="{% static 'doafrica/libs/jquery/bootstrap/dist/css/bootstrap.css' %} " type="text/css" />
  <link rel="stylesheet" href="{% static 'doafrica/styles/font.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'doafrica/styles/app.css' %} " type="text/css" />

</head>
<body>
<div class="app">
<div id="content" class="app-content" role="main">
    <div class="box">
    {% if request.user.is_authenticated %}
          <!-- Content Navbar -->
    <div class="navbar md-whiteframe-z1 no-radius green">
      <!-- Open side - Naviation on mobile -->
      <a md-ink-ripple  data-toggle="modal" data-target="#aside" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
      <!-- / -->
      <!-- Page title - Bind to $state's title -->
      <div class="navbar-item pull-left h4"><a href="/doafrica/profil">DoAfrica</a></div>
      <!-- / -->
      <!-- Common tools -->
      <ul class="nav nav-sm navbar-tool pull-right">
        <li>
          <a md-ink-ripple ui-toggle-class="show" target="#search">
            <i class="mdi-action-search i-24"></i>
          </a>
        </li>
          <li>
          <a md-ink-ripple data-toggle="modal" data-target="#user">
            <i class="mdi-social-person-outline i-24"></i>
          </a>
          </li>


      </ul>
      <div class="pull-right" ui-view="navbar@"></div>
      <!-- / -->
      <!-- Search form -->
      <div id="search" class="pos-abt w-full h-full green hide">
        <div class="box">
          <div class="box-col w-56 text-center">
            <!-- hide search form -->
            <a md-ink-ripple class="navbar-item inline"  ui-toggle-class="show" target="#search"><i class="mdi-navigation-arrow-back i-24"></i></a>
          </div>
            <form id="searchform" action="" method="get" accept-charset="utf-8">
          <div class="box-col v-m">
            <!-- bind to app.search.content -->
            <input class="form-control input-lg no-bg no-border" placeholder="Search" ng-model="app.search.content">
          </div>
                </form>
          <div class="box-col w-56 text-center">
            <a md-ink-ripple class="navbar-item inline"><i class="mdi-av-mic i-24"></i></a>
          </div>
        </div>
      </div>
      <!-- / -->
    </div>
    {% endif %}
    <!-- Content -->

      <div class="box-row">
        <div class="box-cell">
          <div class="box-inner padding">




{% block content%}{% endblock content%}
</div>
        </div>
      </div>
<script src="{% static 'doafrica/libs/jquery/jquery/dist/jquery.js' %} "></script>
<script src="{%static 'doafrica/libs/jquery/bootstrap/dist/js/bootstrap.js' %} "></script>
<script src="{% static 'doafrica/libs/jquery/waves/dist/waves.js' %} "></script>

<script src="{% static 'doafrica/scripts/ui-load.js' %} "></script>
<script src="{% static 'doafrica/scripts/ui-jp.config.js'%} "></script>
<script src="{% static 'doafrica/scripts/ui-jp.js' %} "></script>
<script src="{% static 'doafrica/scripts/ui-nav.js' %}"></script>
<script src="{% static 'doafrica/scripts/ui-toggle.js'%} "></script>
<script src="{% static 'doafrica/scripts/ui-form.js' %}"></script>
<script src="{% static 'doafrica/scripts/ui-waves.js' %} "></script>
<script src="{% static 'doafrica/scripts/ui-client.js' %} "></script>
<script src="{% static 'doafrica/scripts/st.js' %} "></script>
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax-plugin.min.js' %}"></script>


</body>
</html>