{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Projet {% endblock title%}
    {% block content%}
        <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-card">
          <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="images/a6.jpg" class="w-full img-circle">
            </a>

            <div class="clear">
              <a href="util/{{ post.author.id }}" class="font-bold block">{{ post.author }}</a>
              <div class="text-xxs font-thin text-muted">{{ post.date_de_pub }}</div>

            </div>

          </div>
          <div class="card-tools">

              <ul class="list-inline">
                <li class="dropdown">
                  <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                    <i class="mdi-navigation-more-vert text-md"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                  {% if profil.account == "B" %}
                    <li><a href="/doafrica/follow/{{ message.id }}">Follow</a></li>
                  {% elif profil.account  == "C" %}
                  <li><a href="/doafrica/donate/{{ message.id }}">Donate</a></li>
                      <li><a href="/doafrica/investir/{{ message.id }}">Invest</a></li>

                  {% endif %}


                      {% if post.author == request.user %}
                      <li><a href="/doafrica/delete/{{ message.id }}">Delete</a></li>
                      {% endif %}
                  </ul>
                </li>
              </ul>
            </div>
        <div class="item">
            <div class="top text-white p">

          </div>
          <img src="{{ post.image.url }}" class="w-full r-t" alt="Washed Out">

        </div>
          <a md-ink-ripple class="md-btn md-raised md-fab green m-r md-fab-offset pull-right"><span class="text">$ {{ post.montant }}</span></a>
        <div class="p">
          <h3>{{ post.titre }}</h3>
          <p>
            {{ post.message }}
          </p>
        </div>
      </div>
    </div>
    {% endblock %}