{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Home {% endblock title%}
{% block content%}




<div class="row row-sm">
  <div class="col-sm-4">
    <div class="panel panel-card">
      <div class="r-t pos-rlt" md-ink-ripple style="background:url(images/a0.jpg) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
          <a href class="w-xs inline">
            <img src="{{ groupe.image.url }}" class="img-circle img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="">{{groupe.name}}</span>
          </div>

          <p>

          </p>
        </div>
      </div>
     <div class="list-group no-radius no-border">
        <a class="list-group-item">
          <span class="pull-right badge"></span> Post a message
        </a>
         <a class="list-group-item">
          <span class="pull-right badge"></span> Add Member
        </a>
         <a class="list-group-item">
          <span class="pull-right badge"></span> Leave Group
        </a>

      </div>

      <div class="p">
        <p>About</p>
        <p> {{ groupe.descripton }}</p>

      </div>
    </div>
  </div>
 <div class="col-md-6 col-md-offset-1 b-l bg-white bg-auto">
      <div class="p-md bg-light lt b-b font-bold">Settings</div>
      <form role="form" class="p-md col-md-10 col-md-offset-1" method="post" action="./{{ groupe.id }}" enctype="multipart/form-data">

{{ form.non_field_errors }}
            {% csrf_token %}
                 <div class="col-sm-12">
                    <div class="md-form-group float-label">
                        {{ form.image.errors }}
                        {{ form.image.label_tag }}
                        {{ form.image }}

                    </div>
                 </div>
                 <div class="col-sm-12">
                    <div class="md-form-group float-label">
                        {{ form.name.errors }}
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="md-form-group">
                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.description }}

                    </div>
                </div>




    
        
        <button type="submit" class="btn btn-success m-t">Save</button>
      </form>
    </div>
  </div>
</div>




{% endblock content%}