{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | SignUp {% endblock title%}
{% block content%}


    <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading bg-white">
        <br>
          <small class="text-muted"> Complete this field to signup</small>
        </div>
        <div class="panel-body">
        
            <form name="form" method="post" action="/doafrica/signup" enctype="multipart/form-data">
            {{ form.non_field_errors }}
            {% csrf_token %}
            	 <div class="col-sm-6">
                    <div class="md-form-group float-label">
                   		{{ form.username.errors }}                        
                        {{ form.username.label_tag }}
    					{{ form.username }}
                        
                 	</div>
                 </div>
                 <div class="col-sm-6">
                    <div class="md-form-group float-label">                        
                        {{ form.last_name.errors }}                        
                        {{ form.last_name.label_tag }}
    					{{ form.last_name }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form-group">
                        {{ form.email.errors }}                        
                        {{ form.email.label_tag }}
    					{{ form.email }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form-group">
                        {{ form.password.errors }}                     
                        {{ form.password.label_tag }}
                        {{ form.password }}

                    </div>
                </div>
                 <div class="col-sm-6">
                    <div class="md-form-group">
                        {{ form.country.errors }}                        
                        {{ form.country.label_tag }}
    					{{ form.country }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form-group">
                        {{ form.telephone.errors }}                        
                        {{ form.telephone.label_tag }}                        
    					{{ form.telephone }}

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="md-form-group">
                        {{ form.address.errors }}                        
                        {{ form.address.label_tag }}                        
    					{{ form.address }}

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form-group">
                        {{ form.account.errors }}                        
                        {{ form.account.label_tag }}                        
    					{{ form.account }}

                    </div>
                </div>
               
     <button md-ink-ripple type="submit" class="md-btn md-raised green btn-block p-h-md">Sign up</button>

            </form>
            </div>
            </div>
            </div>
            </div>
            



{% endblock content%}