{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica | Home {% endblock title%}
{% block content%}


<div class="row row-sm">
  <div class="col-sm-3">
    <div class="panel panel-card">
      <div class="r-t pos-rlt img-responsive" md-ink-ripple style="background:url({{ profil.photo.url }}) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
          <a href class="w-xs inline">
            <img src="{{ profil.photo.url }}" class="img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="">{{ profil.username }}</span>
          </div>
            {% if profil.user_id == request.user %}
            <a></a>
            {% else %}
          <a class="btn btn-sm btn-success m-b p-h no-border" href="/doafrica/addfriend/{{ profil.user_id    }}">Add</a>
            {% endif %}
          <p>
           {{ profil.slug }}
          </p>
        </div>
      </div>
      <div class="list-group no-radius no-border">
          <a class="list-group-item h4">
          {{ profil.last_name }}
          </a>
        <a class="list-group-item">
         Tel: {{ profil.telephone }}
        </a>
        <a class="list-group-item">
          Email: {{ profil.email }}
        </a>
        <a class="list-group-item">
          Country: {{ profil.country }}
        </a>
      </div>
      <div class="text-center b-b b-light">
        <a href class="inline m text-color">
          <span class="h3 block font-bold">221</span>
          <em class="text-xs">Parteners</em>
        </a>
        <a href class="inline m text-color">
          <span class="h3 block font-bold">250</span>
          <em class="text-xs">Following</em>
        </a>
      </div>
       <div class="p">
        <p>About</p>
        <p>{{ profil.biography }}</p>
        <div class="m-v">
          <a class="text-muted" href="http://facebook.com/{{ profil.facebook }}" target="_blank">
            <i class="fa ui-icon fa-facebook"></i>
          </a>
          <a class="text-muted" href="http://twitter.com/{{ profil.twitter }}" target="_blank">
            <i class="fa ui-icon fa-twitter"></i>
          </a>
          <a class="text-muted" href="{{ profil.linkedin }}" target="_blank">
            <i class="fa ui-icon fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>


{% for message in messages %}
    <div class="col-sm-6">

      <div class="panel panel-card">

           <div class="card-heading">
            <a href class="pull-left w-32 m-r">
              <img src="{{ message.image.url }}" class="w-full img-responsive img-circle">
            </a>
            <div class="clear">
              <a href="util/{{ message.author.id }}" class="font-bold block">{{ message.author }}</a>
              <div class="text-xxs font-thin text-muted">{{ message.date_de_pub }}</div>
            </div>
          </div><a href="projet/{{ message.id }}">
          <div class="card-tools">
              <ul class="list-inline">
                <li class="dropdown">
                  <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                    <i class="mdi-navigation-more-vert text-md"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                    <li><a href="/doafrica/follow/{{ message.id }}">Follow</a></li>


                      {% if message.author == request.user %}
                      <li><a href="/doafrica/delete/{{ message.id }}">Delete</a></li>
                      {% endif %}
                  </ul>
                </li>
              </ul>
            </div>
        <div class="item"><a href="projet/{{ message.id }}">
          <img src="{{ message.image.url }}" class="w-full r-t" alt="Washed Out"></a>
          <div class="bottom text-white p">

          </div>
        </div></a>
        <a md-ink-ripple class="md-btn md-raised md-fab brown m-r md-fab-offset pull-right"><span class="text-white">{{ message.montant }}</span></a>
          <a href="projet/{{ message.id }}">
        <div class="p">
          <h3>{{ message.titre }}</h3>
          <p>
            {{ message.message }}
          </p>
        </div></a>
      </div>
    </div>
{% endfor %}
</div>

{% endblock content%}