{% extends 'doafrica/base.html'%}
{% block title%}DoAfrica |Profil View{% endblock title%}
{% block content%}
    <div class="row">
    <div class="col-md-4">
        <div class="panel no-border">
          <div class="panel-heading">
            <span class="font-bold">Profil Picture</span>

          </div>
          <div class="panel-body">

<img src="{{ profil.photo.url }}" class="img-responsive">
              </div>
            </div>
    </div>
    <div class="col-md-4">
        <div class="panel no-border">
          <div class="panel-heading">
            <span class="font-bold">Bussiness Card</span>

          </div>
          <div class="panel-body">

<img src="{{ profil.business_card.url }}" class="img-responsive">
              </div>
            </div>
    </div>
    <div class="col-md-4">
        <div class="panel no-border">
          <div class="panel-heading">
            <span class="font-bold">ID Card</span>

          </div>
          <div class="panel-body">

<img src="{{ profil.id_card.url }}" class="img-responsive">
              </div>
            </div>
    </div>
    </div>
    <div class="row">

{{ profil.biography }}
    </div>

{% endblock %}